


.carrom-frame
{
    border:5px solid brown ;
	height:600px;
	width:600px;
	border-radius:20px;
	position:absolute;
	top:50%;left:50%;
	transform:translate(-50%,-50%);		
}
.pockets 
{
	height:40px;
	width:40px;
	background:black;
	position:absolute;
    border-radius:50%;	
}
.p1{
    top:30;
	left:0;
}
.p2
{
top:0;
right:0;
}
.p3{
 bottom:0;
 right:0;
}
.p4
{
    bottom:0;
    left:0;
}



/* End of pockets style */