p.first 
{color:green; text-decoration:overline; text-transform:uppercase; text-indent:50px;}
p.second 
{color:#0000ff; text-align:right; text-decoration:line-through; text-transform:lowercase;}
p.third
{color:rgb(255,0,0); text-align:center; text-decoration:underline; text-decoration:capitalize;}
